body {
    background-color: white;
}

nav {
    background-color: #2C2E5A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

nav h1 {
    grid-column: 2/4;
    text-align: start;
    font-size: 40px;
    color: #3FD6D9;
}

.home {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
}

.technical_projects {
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
}

.creative_works {
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: #3FD6D9;
    border-radius: 5px;
    max-width: 200px;
    font-size: 1.25em;
}

nav a:hover  {
    color: #2C2E5A;
    background-color: #3FD6D9;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    margin-top: 5px;
}

.hero h2 {
    position: absolute;
    top: 50%;
    right: 20%;
    color: #dadada;
    font-size: 3em;
}

p {
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: .5em;
}

.current_project{
    border: solid;
    border-width: 5px;
    border-color: #4A4F63;
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 2em 1fr;
    
}

.current_project h2 {
    grid-column: 2/3;
    text-align: center;
    font-size: 2em;
}

.current_project img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 5px;
}

.current_project p {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    text-align: center;
}