@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1, h2 {
    font-family: "Playfair Display", Serif;
}

p {
    font-family: "Lato", Sans Serif;
}


body {
    background-color: white;
}

nav {
    background-color: #2C2E5A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

nav h1 {
    grid-column: 2/4;
    text-align: start;
    font-size: 30px;
    color: #3FD6D9;
}

.home {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
}

.technical_projects {
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
}

.creative_works {
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: #3FD6D9;
    border-radius: 5px;
    max-width: 200px;
    font-size: 1em;
}

nav a:hover  {
    color: #2C2E5A;
    background-color: #D94F9F;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    margin-top: 5px;
}

.hero h2 {
    position: absolute;
    top: 50%;
    right: 20%;
    color: #dadada;
    font-size: 2em;
}

p {
    font-size: 1em;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: .5em;
}

.current_project {
    border: solid;
    border-width: 5px;
    border-color: #4A4F63;
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 2em 1fr;
    margin: 5px;
}

.current_project h2 {
    grid-column: 2/3;
    text-align: center;
    font-size: 2em;
}

.current_project img {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 5px;
}

.current_project p {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    text-align: center;
}

footer {
    background-color: #2C2E5A;
    display: grid;
    grid-template-columns: 1fr 1fr .33fr .33fr .33fr;
}

footer p {
    color: #3FD6D9;
    
}

footer img {
    border-radius: 15%;
    margin: auto;
}

/* Additional CSS for Tech Page Adam */

.grid_sections {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 20px;
        }

        .sections {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .grid_sections p {
            text-align: center;
            margin: 0 auto;
            color: #2C2E5A;
        }

        .tech_h2 {
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
            color: #2C2E5A;
        }

        .blank_section {
            height: 100px;
        }

        .two_things {
            width: 100%;
        }

        .line {
            width: 100%;
            border: transparent;
            background-color: #4A4F63;
            height: 2px;
            margin: 0;
        }

        #main_tech {
            margin: 0;
            padding: 0;
        }

        #bottom_line {
            margin-bottom: 5px;
        }

        #top_line {
            margin-top: 5px;
        }

        .pspacer {
            padding: 15px;
        }

        #body_tech {
            margin: 0px;
        }

        .footer_header {
            margin: 8;
        }

/* End of additional CSS Adam - Tech Page */
