body {
    background-color: white;
}

nav {
    background-color: #2C2E5A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

nav h1 {
    grid-column: 2/4;
    text-align: start;
    font-size: 40px;
    color: #3FD6D9;
}

.home {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
}

.technical_projects {
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
}

.creative_works {
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: #3FD6D9;
    border-radius: 5px;
    max-width: 200px;
    font-size: 1.25em;
}

nav a:hover  {
    color: #2C2E5A;
    background-color: #3FD6D9;
}

